@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  body {
    @apply bg-geist-bg text-geist-fg;
    font-feature-settings: 'rlig' 1, 'calt' 1;
  }

  /* Chrome, Safari, Edge, Opera */
  input::-webkit-outer-spin-button,
  input::-webkit-inner-spin-button {
    -webkit-appearance: none;
    appearance: none;
    margin: 0;
  }

  /* Firefox */
  input[type='number'] {
    -moz-appearance: textfield;
    appearance: textfield;
  }
}

@layer utilities {
  .anim-delay-0 {
    animation-delay: 0ms;
  }
  .anim-delay-200 {
    animation-delay: 200ms;
  }
  .anim-delay-400 {
    animation-delay: 400ms;
  }
}
